body {
	margin:0;
	min-width:500px;
	background-color:#fff8dc;
	background-size:100% Auto;	
	background-repeat:no-repeat;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}
.headingOne{
	font-size:25px;
	text-align:center;
}
header.site-wide{
	/*background: rgb(69,72,77); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(69,72,77,1) 5%, rgba(0,0,0,1) 34%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(5%,rgba(69,72,77,1)), color-stop(34%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(69,72,77,1) 5%,rgba(0,0,0,1) 34%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(69,72,77,1) 5%,rgba(0,0,0,1) 34%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(69,72,77,1) 5%,rgba(0,0,0,1) 34%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(69,72,77,1) 5%,rgba(0,0,0,1) 34%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
		*/
	background-repeat:x;
	width:100%; 
	height:80px; 
	width:850px;
	min-width:500px;
/*	margin-top:-20px;
*/	margin-left:auto;
	margin-right:auto;
	opacity:.8;
	/*margin-right:10% auto !important;*/
}
logo.text span {
	color:#E8E8E8;
	font-size:25px;
	font-weight:bold;
	 text-shadow: 3px 3px #000;
}
logo.text{
	color: #F00;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 30px;
	position: absolute;
	line-height: 75px;
	white-space: nowrap;
	font-weight: bold;
	 text-shadow: 3px 3px #000;
	
}

header.hours{
	color:white !important;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:18px;
	position:relative;
	float:right;
	right:60px;
	line-height:75px;
	font-weight:bold;
	white-space:nowrap;
}
a.hours:link{
	color:white;
	text-decoration:none;
    border:none;
	}
a.hours:visited{
	color:white; 
	text-decoration:none;
	border:none;
}
a.hours:active{color:red; 
	text-decoration:none;
    border:none;
	}
a.hours:hover{ 
	color:red !important;
	text-shadow: 2px 2px black;
	border:none;
}
#hrsbg{
	position:relative;
	left:590px;
	z-index:-1;
	height:82px;
}
nav#bar{
	width:100%;
	height:40px;
	background-color:black;
	width:850px;
	margin-left:auto;
	margin-right:auto;
	min-width:500px;
}
nav#text{
	color:white;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:15px;
	position:relative;
	line-height:27px;
	white-space:nowrap;
	
}
nav.text span{
	color:white;
}

#navcontainer ul
{
margin: 0 auto 0 auto;
padding: 5px 0 0 0;
list-style-type: none;
background-color:black;
width:850px;
height:30px;
opacity:0.85;


}

#navcontainer ul li { 
	display: inline;
	color:white;
	letter-spacing:3px;
	line-height:25px;
	font-size:15px; 
	
	}
#navcontainer ul li a
{
text-decoration: none;
	padding: 8px 15px 8px 15px;
	color:white;
	line-height:25px; 

}
#navcontainer ul li a:hover
{
background-color: gray;
color:white;
}
.selected
{
text-decoration: none;
	padding: 8px 0px 8px 0px;
	color:white;
	line-height:25px;
	background-color: gray;
}
.selected:hover
{
text-decoration: none;
/*	padding: 5px 15px 5px 15px;
*/	color:white;
	line-height:25px;
	background-color: gray;
}
#bgHomeText{
	height:90px;
	position:relative;
	top:150px;
	left:500px;
	z-index:0;
}

.menuSubNavLeft{
position:relative;
float:left;
width:200px;
height:30px;
background-color:blue;
z-index:1;
margin-left:150px;
border-bottom-right-radius:5px;
border-bottom-left-radius:5px;
border-right:thick;
border-color:black;
}
#drinkSubNav{
	font-size:24px;
	line-height:30px;
	padding-left:10px;
	padding-right:auto;
	padding-left:60px;
}
.menuSubNavRight{
position:relative;
float:right;
margin-right:150px;
height:30px;
width:200px;
border-bottom-right-radius:5px;
border-bottom-left-radius:5px;
}
#foodSubNav{
	font-size:24px;
	padding-left:10px;
	padding-right:auto;
	padding-left:60px;
	line-height:30px;

}
.menuSubBar{
padding-left:50px;
}
#menuTitle{
	position:relative;
	width:100%;
	height:20px;
	font-size:30px !important;
	font-style:italic;
	padding:25px 0 0 0;
	text-align:center;
	}
.menuTitle span{
	text-align:center;
	}
#homeImage{	
	width:850px;
	height:481px;
	margin-left:auto;
	margin-right:auto;
	background-image:url('images/coffee-bg.jpg');
    background-repeat:no-repeat;
    z-index:-5;
}
#homeText
{
	position:relative;
	top:110px;
	left:195px;	
	color:white;
	text-align:right;
	font-size:20px;
	z-index:1;
	
/*	padding-right:20px;
*/	
}
#homeButton{
	background-color:red;
	position:relative;
	left:580px;
	top:150px;
	height:50px;
	width:175px;
	text-align:center;
	line-height:45px;
	border-radius:10px 10px 10px 10px;
	
	
}
#homeButton a:hover{
	background-color:green;
}
a.home:link{
	color:white;
	text-decoration:none;
	background-color:green;
}
a.home:visited{
	color:white;
	text-decoration:none;	
}
a.home:active{
	color:white;
	text-decoration:none;	
}
a.home:hover{
	color:black;
	text-decoration:none;

}
footer{
	width:100%; 
	height:50px; 
	background-color:black;
	width:850px;
	min-width:500px;
	margin-top:-4px;
	margin-left:auto;
	margin-right:auto;
	-webkit-border-radius: 0 0 8px 8px;
	        border-radius: 0 0 8px 8px;
}

footer.text{
	color:gray;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:15px;
	position:relative;
	line-height:50px;
	text-align:center;
}
.iconsFB{
	padding:13px 30px 13px 12px;
	float:right;
	height:25px;
}
.iconsTW{
	padding:13px 7px 13px 12px;
	float:right;
	height:25px;
}
a:link{color:black;text-decoration:none;border:none;}
a:visited{color:black; text-decoration:none;border:none;}
a:active{color:black; text-decoration:none;border:none;}
a:hover{ color:white;border:none;}

menu.background{
	background-color:#E7C6A5;
	width:850px;
	height:500px;
	margin-left:auto;
	margin-right:auto;
	padding:0;
	margin-top:0;
	margin-bottom:0;
}
.menuTitle{
	position:relative;
	text-align:center;
	top:30px;
	font-family:"Covered By Your Grace", cursive;
	font-size:35px;
}
.menuLeft{
	position:relative;
	float:left;
	top:50px;
	left:125px;
	width:150px;
	font-family:"Covered By Your Grace", cursive;
	font-size:18px;		
}
.pricesLeft{
	position:relative;
	top:84px;
	left:160px;
	float:left;
	font-family:fantasy;
	font-size:16px;
}
.menuRight{
	position:relative;
	top:50px;
	float:right;
	right:150px;
	width:150px;
	font-family:"Covered By Your Grace", cursive;
	font-size:18px;	
}
.pricesRight{
	position:relative;
	top:84px;
	left:590px;
	float:left;
	font-family:fantasy;
	font-size:16px;
}
.menuMiddle{
	position:relative;
	float:left;
	text-align:left;
	left:320px;
	top:100px;
	width:160px;
	font-family:"Covered By Your Grace", cursive;
	font-size:18px;
}
.pricesMiddle{
	position:relative;
	top:330px;
	left:340px;
	float:left;
	font-family:fantasy;
	font-size:18px;
}
.menuLeftHeading{
	float:left;
	margin:50px 0 0 100px;
	color:black;
	font-size:30px;
	text-align:center;
	border-bottom: 2px dotted #000; 
}
.menuRightHeading{
	float:right;
	margin:50px 130px 0 0;
	color:black;
	font-size:30px;
	text-align:center;
	border-bottom: 2px dotted #000; 
}
.menuLeftText{
	position:relative;
	float:left;
	margin: 5px 0 0 100px;
	color:black;
	font-size:18px;
	font-style:italic;
	line-height:24px;
	
}
.menuRightText{
	position:relative;
	float:right;
	margin:5px 130px 0 0;
	color:black;
	font-size:18px;
	font-style:italic;
	line-height:24px;
}
.menuLineLeft{
	margin:5px 0 0 100px;
	width:200px;
	height: 0; 
	border-bottom: 2px dotted #000;
}
.menuLineRight{
	float:right;
	margin:0 150px 5px 0px;
	width:200px;
	height: 0; 
	border-bottom: 2px dotted #000;
}
contact.background{
	background-color:white;
	width:850px;
	height:600px;
	margin-left:auto;
	margin-right:auto;
	padding:0;
	margin-top:0;
	margin-bottom:0;
}
#contactImage{
	position:relative;
	top:150px;
	float:right;
	right:40px;
	height:200px
}
.contactMainHeading {
	float:left;
	margin:30px 0 0 60px;
	color:black;
	font-size:25px;
	text-align:left;
	font-weight:regular;
	font-family:"Covered By Your Grace", cursive;
}
.contactSubHeading {
	float:left;
	margin:20px 0 0 50px;
	color:black;
	font-size:20px;
	text-align:center;
	border-bottom: 2px dotted #000;
}
.contactText{
	position:relative;
	float:left;
	margin: 5px 0 0 50px;
	color:black;
	font-size:15px;
	font-style:italic;
	line-height:24px;	
}
.hoursMainHeading {
	float:left;
	margin:50px 0 0 50px;
	color:black;
	font-size:28px;
	font-weight:normal;
}
.iconsFbContact{
	margin:0 0 -5px 5px;	
	height:25px;
}
.iconsTwContact{
	margin:0 0 -5px 5px;
	height:25px;
}
.hoursSubHeading {
	float:left;
	margin:20px 0 0 50px;
	color:black;
	font-size:20px;
	text-align:center;
/*	border-bottom: 2px dotted #000;
*/}
.hoursText{
	position:relative;
	float:left;
	margin: 20px 0 0 50px;
	color:black;
	font-size:18px;
	font-style:italic;
	line-height:24px;	
}
.copyright{
	color:white;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:12px;
	text-align:center;
}
.dropshadowclass {
        border: solid 1px #CCC;
	-moz-box-shadow: 5px 5px 0px #999;
	-webkit-box-shadow: 5px 5px 0px #999;
        box-shadow: 5px 5px 0px #999;
}
.homeButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #b23e35;
	position:relative;
	left:580px;
	top:150px;
}.homeButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background-color:#ce0100;
}.homeButton:active {
	position:relative;
	top:1px;
	left:580px;
	top:150px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */

#hoursBg{
	position:relative;
	background-color:#E7C6A5;
	width:850px;
	height:568px;
	margin-left:auto;
	margin-right:auto;
/*	z-index:-1;
*/}
#hoursImage{
	position:relative;
	float:left;
	height:566px;
	width:573px;
}

#hoursText{
	position:relative;
	float:right;
	height:283px;
	width:275px;
	font-family:fantasy;
}
.hoursTextHeading{
	position:relative;
	top:15px;
	left:25px;
	font-size:18px;
	font-family:"Covered By Your Grace", cursive;
}
#hoursRegText{
	position:relative;
	top:40px;
	font-size:12px;
}
#locationText{
	position:relative;
	float:right;
	height:283px;
	width:275px;
	font-size:12px;
}
a img { border: none; }

